#contacto {
  background-color: $jordanGray01;
  color: $jordanGray03;
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  @media only screen and (min-width : 768px) {
    min-height: 100vh;
  }
  .contacto {
    background-color: $jordanGray03;
    color: $jordanGray01;
    margin: 72px 0;
    @media only screen and (min-width : 768px) {
      margin: 120px 0;
    }
    @media only screen and (min-width : 768px) {
      border: 1px solid $jordanGray01;
    }
    @media only screen and (min-width : 1600px) {
      width: 70% !important;
      margin-left: 15% !important;
    }
    border-radius: 12px;
    overflow: auto;
    input {
      border-color: $jordanGray01;
      color: $jordanGray01;
      &::placeholder {
        color: transparentize($jordanGray01, 0.2);
      }
    }
  }
  .telMail {
    margin-top: 32px;
    p {
      span {
        font-weight: bold;
      }
      a {
        color: $jordanGray03;
      }
    }
    .direccion {
      p {
        font-size: 12px;
        line-height: 14px;
      }
    }
  }
  .check {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    margin-left: 25%;
    span {
      font-size: 16px;
    }
    input[type="checkbox"]{
      width: 24px;
      height: 24px;
    }
  }
  .botonera {
    display: flex;
    flex-flow: column;
    justify-content: center;
    @media only screen and (min-width : 1024px) {
      flex-flow: row;
    }
    button {
      width: 60%;
      margin-left: 20%;
    }
    .btnBudget {
      background-color: $jordanGray03;
      border: 1px solid $jordanPpal;
      color: $jordanPpal;
      &:hover {
        background-color: $jordanPpal;
        color: $jordanGray03;
      }
    }
  }
  .productsSelect {
    margin: 48px 0;
    display: none;
    .form-group {
      label {
        text-align: left !important;
      }
      select {
        width: 80%;
        border: 0px;
        background-color: transparent;
        border-bottom: 1px solid $jordanGray01;
        color: $jordanGray01;
        margin-bottom: 20px;
        option {
          background-color: $jordanGray03;
          border: 0;
        }
      }
      .cantidad {
        width: 80%;
        border: 0;
        background-color: transparent;
        border-bottom: 1px solid $jordanGray01;
        text-align: center;
        color: $jordanGray01;
        margin-bottom: 20px;
      }
    }
    p {
      margin: 24px;
    }
  }

  #nextForm {
    min-height: 50vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }

  .showProduct {
    display: block !important;
  }
}

@mixin widthHeight($an, $al) {
    width: $an;
    height: $al;
}

@mixin border-radius($r) {
    -webkit-border-radius: $r;
    -moz-border-radius: $r;
    -ms-border-radius: $r;
    border-radius: $r;
}

#contact {
  @include widthHeight(100%, 100vh);
  position: fixed;
  z-index: 10000;
  background-color: rgba(0,0,0,0.5);
  .formulario-contacto {
    background-color: rgba(255,255,255,0.9);
    @media only screen and (min-width : 768px) {
      background-color: white;
      width: 100%;
      h2 {
        font-size: 48px;
        line-height: 60px;
        font-weight: normal !important;
      }
    }
    color: $jordanPpal;
    padding: 48px;
    @include border-radius(6px);
    margin-top: 15%;
    position: relative;
    width: 90%;
    margin-left: 5%;
    input {
      @include widthHeight(100%, 48px);
      padding: 8px;
      text-align: center;
      margin: 24px auto;
      border: 2px solid #3c3c3b;
      @include border-radius(3px);
      background: transparent;
      &[type="submit"] {
        border: 0;
        background-color: $jordanPpal;
        color: $jordanGray03;
        width: 70%;
        border-radius: 24px;
        font-size: 16px;
        text-transform: uppercase;
      }
    }
  }
}

.cerrar {
  @include widthHeight(32px, 32px);
  @include border-radius(16px);
  font-size: 25px;
  line-height: 24px;
  color: $jordanGray03;
  position: absolute;
  right: -13px;
  padding-bottom: 23px;
  background-color: $jordanGray01;
  border: 0;
  top: -16px;
}
