body {
  font-family: 'Montserrat', sans-serif;
  background-color: $neutral-background;
  background: linear-gradient(180deg, rgba(246,246,246,1) 9%, rgba(225,225,225,1) 80%);
  font-size: 16px;
  color: $neutral-text;
}

main {
  min-height: calc(100vh - 88px) !important;
  margin-top: 88px !important;
}

.navbar {

  @media screen and (min-width: $md) {
    img {
      height: 70px;;
    }
  }
}

img {
  max-width: 100%;
}

.number {
  font-family: 'Roboto', sans-serif;
}

.bold{
  font-weight: bold;
}

.upper {
  text-transform: uppercase !important;
}

.cap {
  text-transform: capitalize !important;
}

.primary {
  color: $primary-text;
}


h1, h2, h3 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  line-height: 2.2rem;

  @media screen and (min-width: $md) {
    font-size: 2.5rem;
    line-height: 2.75rem;
  }
}

h2 {
  font-size: 2rem;
  line-height: 2.25rem;
}

h3 {
  font-size: 1.2rem;
  line-height: 1.2rem;
  
  @media screen and (min-width: $md) {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

button, .btn {
  margin: 0;
  border: 0;
  padding: 0.4rem 0.8rem;
  border-radius: 0;
}

.btn-primary {
  background-color: $primary-background;
  color: $neutral-text-inverted;
  border: 3px solid $primary-border;

  &:hover{
    background-color: $primary-background-strong;
  }
}

.btn-secondary {
  background-color: transparent;
  color: $primary-text;
  border: 3px solid $primary-border;

  &:hover{
    background-color: $primary-background;
    color: $neutral-text-inverted;
    border-color: $primary-border;
  }
}

.btn-tertiary {
  background-color: transparent;
  color: $primary-text;

  &:hover{
    background-color: $primary-background-low;
    color: $primary-text;
  }
}

.breadcrumb {
  background-color: transparent;
  color: $neutral-text;
  margin-top: 2rem;
  padding: 0;

  &:hover{
    text-decoration: underline;
    color: $neutral-text-strong;
  }

  span {
    margin-left: 0.3rem;
  }
}

.card {
  border: 0;
  border-radius: 0;
  background-color: $neutral-background-lowest;
  min-height: 466px;

  .btn {
    width: 100%;
  }

  @media screen and (min-width: $md) {
    .card-body {
      .btn {
        display: none;
      }
    }
    
    &:hover {
      .card-body {

        .btn {
          display: block;
        }

        ul {
          display: none;
        }
      }
    }
  }
}


ul {
  padding: 0;
  margin: 0;

  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }

}

  .border {
    width: 100%;
    height: 1px;
    border: 0.5px solid $neutral-text !important;
    margin-bottom: 1.5rem;
  }