#home {
  position: relative;
  height: 100vh;
  .botoneraBox {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -45px;
    position: relative;
    @media only screen and (min-width : 768px) {
      width: 750px;
    }
    @media only screen and (min-width : 992px) {
      width: 970px;
    }
    @media only screen and (min-width : 1200px) {
      width: 1170px;
    }
    .botonera {
      bottom: 0;
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      margin-bottom: 16px;
      align-items: center;
      padding: 0;
      @media only screen and (min-width : 768px) {
        margin-bottom: 0;
      }
      li {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: $jordanPpal;
        list-style: none;
        color: white;
        padding-top: 30px;
        cursor: pointer;
        &:hover{
          background-color: white;
          color: $jordanGray01;
        }
        @media only screen and (min-width : 768px) {
          height: 48px;
          padding-top: 10px;
          font-size: 20px;
          text-align: center;
          border: 2px solid white;
          background-color: transparent;
          color: white;
          border-radius: 6px 6px 0 0;
          box-sizing: border-box;
          margin-bottom: -2px;
          margin-right: 8px;
          margin-left: 8px;
          &:first-child {
            margin-left: 0;
          }
          &:last-child{
            margin-right: 0;
          }
        }
        @media only screen and (min-width : 768px) {
          width: 260px;
        }
      }
    }
  }
}

.selected{
  background-color: white !important;
  color: $jordanGray01 !important;
  // box-shadow: $sombra;
}
