.navegacion {
  background-color: transparentize(white, 0.1);
  padding: 4px;
  text-align: center;
  height: 88px;
  overflow: hidden;
  transition: 0.5s;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  @media only screen and (min-width : 1024px) {
    height: auto;
  }
  .nav-container {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    @media only screen and (min-width : 1024px) {
      flex-flow: row;
    }
    .burguer {
      position: absolute;
      top: 20px;
      right: 20px;
      i {
        font-size: 30px !important;
        color: $jordanPpal !important;
      }
      @media only screen and (min-width : 1024px) {
        display: none;
      }
    }
    .nav-logo {
      width: 120px;
      position: absolute;
      top: 20px;
      left: 20px;
      @media only screen and (min-width : 1024px) {
        position: static;
        width: 180px;
      }
    }
    ul {
      padding: 0;
      display: flex;
      flex-flow: column;
      justify-content: space-around;
      align-items: center;
      @media only screen and (min-width : 1024px) {
        flex-flow: row;
      }
    }
    .nav-items {
      width: 50%;
      margin-top: 72px;
      @media only screen and (min-width : 1024px) {
        margin: 0;
      }
      li {
        list-style: none;
        margin: 16px 0;
        color: $jordanPpal;
        font-size: 16px;
        cursor: pointer;
        @media only screen and (min-width : 1024px) {
          margin: 0;
        }
        a {
          color: $jordanPpal;
          font-size: 18px;
          font-weight: bold;
        }
      }
      .presupuesto {
        border: 2px solid $jordanPpal;
        border-radius: 6px;
        padding: 8px;
        &:hover{
          background-color: $jordanPpal;
          a {
            color: white;

          }
        }
        @media only screen and (min-width : 1024px) {
          margin: 0;
          border: 1px solid $jordanPpal;
        }
      }
      #subMenuItem {
        position: relative;
        // overflow: hidden;
        #subMenu {
          position: fixed;
          z-index: 0;
          top: 60px;
          display: none;
          background-color: transparentize(white, 0.2);
          border-radius: 6px;
          text-align: left;
          box-shadow: $sombra;
          li {
            // margin: 16px 0;
            a {
              padding: 16px;
              width: 100%;
              display: inline-block;
              font-weight: normal !important;
              &:hover {
                background-color: $jordanGray02;
                color: white;
              }
            }
          }
        }
      }
    }
    .nav-right {
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      align-items: center;
      @media only screen and (min-width : 1024px) {
        flex-flow: row;
      }
      #sButton {
        display: none;
        @media only screen and (min-width : 1024px) {
          border: 0;
          background-color: transparent;
          float: right;
          // margin-right: 0px;
          display: block;
          width: 46px;
          height: 40px;
          border-radius: 50%;
          border: 2px solid $jordanPpal;
          i {
            font-size: 20px;
            color: $jordanPpal
          }
        }
      }
      #searcher {
        padding: 8px;
        border: 1px solid $jordanPpal;
        border-radius: 24px;
        height: 48px;
        width: 300px;
        @media only screen and (min-width : 1024px) {
          width: 0px;
          transition: 0.5s;
          height: 0px;
          width: 0;
          border-width: 0;
          overflow: hidden;
        }
        input, button {
          background-color: transparent;
          border: 0;
          &::placeholder {
            color: transparentize($jordanPpal, 0.2);
          }
        }
        input {
          width: 80%;
          margin: 4px 0 4px 6px;
          color: $jordanPpal;
        }
        button {
          float: right;
          i {
            font-size: 24px;
            color: $jordanPpal
          }
        }
      }
      .redes {
        width: 15%;
        flex-flow: row;
        margin: 16px 0;
        li {
          list-style: none;
          margin: 0 16px;
          i{
            text-align: center;
            font-size: 24px;
            color: white;
            background-color: $jordanPpal
          }
        }
      }
    }
  }
  .redesMenu {
    position: fixed;
    top: 20vh;
    right: 0;
    padding: 8px;
    border-radius: 6px 0 0 6px;
    background-color: white;
    box-shadow: $sombra;
    display: none;
    ul {
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      list-style: none;
      li {
        margin: 8px 0;
        a {
          .fa-instagram, .fa-facebook {
            color: $jordanGray01;
            background-color: $jordanGray02;
            font-size: 20px;
            &:hover {
              color: white;
              background-color: $jordanPpal;
            }
          }
        }
      }
    }
  }
}
.mostrarNav {
  display: block !important;
}

.abrirNav {
  height: auto;
}

.mostarSearch {
  width: 390px !important;
  height: 48px !important;
  border-width: 1px !important;
  padding: 8px !important;
}

.ocultarSearch {
  display: none !important;
}

.goToTop {
  position: fixed;
  top: 0;
}
