.side-menu {

  li {
    margin: 1rem 0;

    a {
      color: $neutral-text;
      margin-bottom: 0.5rem;
      display: inline-block;
      text-transform: capitalize;
    }
  }

  .submenu {
    padding-left: 1.5rem;

    .dot {
      font-size: 2.5rem;
      line-height: 0;
      padding-top: 0.6rem;
      padding-right: 0.3rem;
    }

    li {
      margin: 0;
      display: flex;
      flex-direction: row;
    }
  }
}

