.product-card {
  min-height: 280px;
  border: 2px solid $primary-border;

  .image-container {
    position: relative;
    height: 380px;

    img {
      position: absolute;
      height: 200px;
      width: auto;
    }

    .card-img-logo {
      z-index: 1;
      opacity: 0.15;
      padding: 1.5rem 8rem 8rem 1rem;
      top: 0;
      left: 0;
      height: 200px;
    }

    .card-img-top {
      display:block;
      width:100%; 
      height:100%;
      object-fit: cover;
    }
  }

  .card-body {
    padding-top: 0;
  }

  .card-title {
    margin: 0;
  }

  @media screen and (min-width: $md) {
    min-height: 420px;
    .card-body {
      .btn {
        display: none;
      }
    }
    
    &:hover {
      .card-body {

        .btn, .card-title {
          display: block;
        }

        ul {
          display: none;
        }
      }
    }
  }
}

.side-menu {

  li {
    margin: 1rem 0;

    a {
      color: $neutral-text;
      margin-bottom: 0.5rem;
      display: inline-block;
      text-transform: capitalize;
    }
  }

  .submenu {
    padding-left: 1.5rem;

    .dot {
      font-size: 2.5rem;
      line-height: 0;
      padding-top: 0.6rem;
      padding-right: 0.3rem;
    }

    li {
      margin: 0;
      display: flex;
      flex-direction: row;
    }
  }
}
