#productos {
  h1, h2 {
    color: $jordanPpal;
  }
  @media only screen and (min-width : 768px) {
    .lineaRoja {
      height: 8px;
      background-color: $jordanPpal;
    }
  }
  .textoSeccion {
    margin-top: 15%;
    p {
      color: $jordanPpal;
      margin: 24px 0;
      text-align: justify;
    }
  }
  .boxProductos {
    background-color: white;
    padding: 16px;
    margin-bottom: 5%;
    border-radius: 6px;
    ul {
      padding: 0;
      li {
        list-style: none;
      }
    }
    .linea {
      border-top: 1px solid $jordanGray02;
      margin: 24px 0;
    }
  }
  .imgProductos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin-top: 24px;
    @media only screen and (min-width : 768px) {
      justify-content: space-between;
    }
    img, video {
      margin: 15px 0;
    }
  }
}
