//Color styles
//Primary
$primary-text: #BF0C2A;
$primary-text-low: #E95971;
$primary-background: #BF0C2A;
$primary-border: #BF0C2A;
$primary-border-strong: #950B22;
$primary-background-low:#F3B6C1;
$primary-background-strong: #950B22;

$neutral-text: #383837;
$neutral-text-low:#808080;
$neutral-text-strong:#161616;
$neutral-text-inverted:#F0EAEB;
$neutral-background-lowest: #ffffff;
$neutral-background: #F4F4F4;
$neutral-background-low: #808080;
$neutral-background-strong:#383837;
$neutral-background-strongest:#050505;
$neutral-border:#383837;
$neutral-border-low:#808080;
$netural-border-inverted:#F0EAEB;


//Breaking points
$md: 900px;




